.container {
    overflow: hidden;
    position: relative;
    width: 100%;
    height: 600px;
    .items {
        transition: all ease-in-out 1s;
        
        height: 100%;
        display: flex;
        gap: 20px;
        justify-content: space-between;
        // overflow: hidden;
        .item {
            padding: 10px;
            margin: 10px;
            box-shadow: 10px 10px 10px #DDD;
            min-width: 200px;
            .image-parent {
                padding: 10px;
                margin: 10px;
                text-align: center;
                height: 100px;
                object-fit: cover;
                img {
                    // width: 100%;
                    height: 100%;
                    
                }
            }
            .title {
                padding: 10px;
                margin: 10px;
                font-size: 24px;
                font-weight:bold;
                text-align: center;
            }
            .description {
                padding: 10px;
                margin: 10px;
                text-align: center;
                font-size: 16px;
            }
        }
    }
    .arrow {
        position: absolute;
        width: 30px;
        height: 30px;
        border-radius: 50%;
        top: 200px;
        background-color: #DDD;
        box-shadow: 10px 10px 10px #333;
    }
    .arrow-right {
        right: 2px;
    }
    .arrow-left {
        left: 2px;
    }

}